.Paragraph-Style,.Subt-tulo-interno-H2,.Titulo-H1
{
	font-family: droid-serif-n4, serif;
}

#u138-4
{
	font-family: droid-serif-n4, serif;
}

#u143-4
{
	font-family: droid-serif-n4, serif;
}

#u123-4
{
	font-family: droid-serif-n4, serif;
}

#u97-4
{
	font-family: droid-serif-n4, serif;
}

#u834-4,#u788-2,#u788-5,#u768-4
{
	font-family: droid-serif-n4, serif;
}

#u821-4
{
	font-family: droid-serif-n4, serif;
}

#u1621-4
{
	font-family: droid-serif-n4, serif;
}

#u1600-4
{
	font-family: droid-serif-n4, serif;
}

#u1630-4
{
	font-family: droid-serif-n4, serif;
}

#u1637-4
{
	font-family: droid-serif-n4, serif;
}

#u1767-4
{
	font-family: droid-serif-n4, serif;
}

#u1893-2,#u1893-3
{
	font-family: droid-serif-n4, serif;
}

