.Paragraph-Style,.Subt-tulo-interno-H2,.Titulo-H1
{
	font-family: droid-serif-n4, serif;
}

#u138-4
{
	font-family: droid-serif-n4, serif;
}

#u143-4
{
	font-family: droid-serif-n4, serif;
}

#u123-4
{
	font-family: droid-serif-n4, serif;
}

#u97-4
{
	font-family: droid-serif-n4, serif;
}

#u834-4,#u788-2,#u788-5,#u768-4
{
	font-family: droid-serif-n4, serif;
}

#u821-4
{
	font-family: droid-serif-n4, serif;
}

#u1264-4
{
	font-family: droid-serif-n4, serif;
}

#u1255-4
{
	font-family: droid-serif-n4, serif;
}

#u1250-4
{
	font-family: droid-serif-n4, serif;
}

#u1271-4
{
	font-family: droid-serif-n4, serif;
}

#u1166-4
{
	font-family: droid-serif-n4, serif;
}

#u1433-16,#u1433-17
{
	font-family: droid-serif-n4, serif;
}

