._u1274.f9s_bot_left
{
	background-image: url("../images/u1274_bot_left.png");
	overflow: visible;
	background-position: left top;
}

._u1274.f9s_bot_right
{
	background-image: url("../images/u1274_bot_right.png");
	overflow: visible;
	background-position: right top;
}

._u1274.f9s_bot_mid
{
	background-image: url("../images/u1274_bot_mid.png");
	overflow: visible;
	background-position: center top;
}

#u1165
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/alpha_eng-logo.png") no-repeat left top;
}

#u1171
{
	background-color: transparent;
	position: relative;
}

#u1173
{
	background-color: transparent;
	position: relative;
}

#u1175
{
	background-color: transparent;
	position: relative;
}

#u1177
{
	background-color: transparent;
	position: relative;
}

#u1171:hover,#u1173:hover,#u1175:hover,#u1177:hover
{
	background-color: #00548C;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u1261
{
	background-color: transparent;
	position: relative;
}

#u1264-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u1254
{
	background-color: transparent;
	position: relative;
}

#u1255-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u1249
{
	background-color: transparent;
	position: relative;
}

#u1250-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u1270
{
	background-color: transparent;
	position: relative;
}

#u1261.MuseMenuActive,#u1254.MuseMenuActive,#u1249.MuseMenuActive,#u1270.MuseMenuActive
{
	background-color: #00548C;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
}

#u1271-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u1261.MuseMenuActive #u1264-4 p,#u1254.MuseMenuActive #u1255-4 p,#u1249.MuseMenuActive #u1250-4 p,#u1270.MuseMenuActive #u1271-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1166-4
{
	font-size: 18px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u1137
{
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u1381
{
	border-style: solid;
	border-color: #42410B;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1383-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1381:hover #u1383-4 p
{
	letter-spacing: 2px;
}

#u1381:active #u1383-4 p
{
	letter-spacing: 2px;
}

#u1383-2
{
	padding-left: 11px;
}

#u1388
{
	border-style: solid;
	border-color: #42410B;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1389-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1388:hover #u1389-4 p
{
	letter-spacing: 2px;
}

#u1388:active #u1389-4 p
{
	letter-spacing: 2px;
}

#u1389-2
{
	padding-left: 11px;
}

#u1409
{
	border-style: solid;
	border-color: #42410B;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1411-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1409:hover #u1411-4 p
{
	letter-spacing: 2px;
}

#u1409:active #u1411-4 p
{
	letter-spacing: 2px;
}

#u1411-2
{
	padding-left: 11px;
}

#u1402
{
	border-style: solid;
	border-color: #42410B;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1404-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1261.MuseMenuActive #u1264-4,#u1254.MuseMenuActive #u1255-4,#u1249.MuseMenuActive #u1250-4,#u1270.MuseMenuActive #u1271-4,#u1381.MuseMenuActive #u1383-4,#u1388.MuseMenuActive #u1389-4,#u1409.MuseMenuActive #u1411-4,#u1402.MuseMenuActive #u1404-4
{
	border-style: none;
	border-color: transparent;
}

#u1402:hover #u1404-4 p
{
	letter-spacing: 2px;
}

#u1402:active #u1404-4 p
{
	letter-spacing: 2px;
}

#u1381.MuseMenuActive #u1383-4 p,#u1388.MuseMenuActive #u1389-4 p,#u1409.MuseMenuActive #u1411-4 p,#u1402.MuseMenuActive #u1404-4 p
{
	color: #00548C;
	visibility: inherit;
	letter-spacing: 0px;
	font-weight: bold;
}

#u1404-2
{
	padding-left: 11px;
}

#u1274,#u1274_align_to_page,#u1170,#menuu1231,#u1260,#u1253,#u1246,#u1267,#u1167,#menuu1314,#u1380,#u1387,#u1408,#u1401,#u1420
{
	position: relative;
}

#u1421
{
	border-width: 1px;
	border-style: solid;
	border-color: #BCBCBC;
	background-color: #FFFFFF;
	position: relative;
}

#u1422
{
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/ethics.jpg") no-repeat left top;
	background-size: cover !important;
}

