._u69.f9s_bot_left
{
	background-image: url("../images/u69_bot_left.png");
	overflow: visible;
	background-position: left top;
}

._u69.f9s_bot_right
{
	background-image: url("../images/u69_bot_right.png");
	overflow: visible;
	background-position: right top;
}

._u69.f9s_bot_mid
{
	background-image: url("../images/u69_bot_mid.png");
	overflow: visible;
	background-position: center top;
}

#u88
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/alpha_eng-logo.png") no-repeat left top;
}

#u847
{
	background-color: transparent;
	position: relative;
}

#u845
{
	background-color: transparent;
	position: relative;
}

#u843
{
	background-color: transparent;
	position: relative;
}

#u849
{
	background-color: transparent;
	position: relative;
}

#u847:hover,#u845:hover,#u843:hover,#u849:hover
{
	background-color: #00548C;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u135
{
	background-color: transparent;
	position: relative;
}

#u138-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u140
{
	background-color: transparent;
	position: relative;
}

#u143-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u121
{
	background-color: transparent;
	position: relative;
}

#u123-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u95
{
	background-color: transparent;
	position: relative;
}

#u135.MuseMenuActive,#u140.MuseMenuActive,#u121.MuseMenuActive,#u95.MuseMenuActive
{
	background-color: #00548C;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
}

#u97-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u135.MuseMenuActive #u138-4 p,#u140.MuseMenuActive #u143-4 p,#u121.MuseMenuActive #u123-4 p,#u95.MuseMenuActive #u97-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u161
{
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u834-4
{
	font-size: 18px;
	color: #00548C;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u785
{
	border-width: 1px;
	border-style: solid;
	border-color: #BCBCBC;
	background-color: transparent;
	position: relative;
}

#u788-2
{
	font-size: 18px;
	font-family: droid-serif, serif;
	font-weight: 400;
}

#u788-5
{
	text-align: justify;
	font-family: droid-serif, serif;
	font-weight: 400;
}

#widgetu767
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u768-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	line-height: 1;
	color: #6B6B6B;
	text-align: left;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#widgetu767.fld-err-st #u768-4 p,#widgetu767.fld-err-st #u768-4 span
{
	color: #D7244C;
}

#u770-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu767.non-empty-st #u770-4
{
	background-color: #FFFFFF;
}

#widgetu767:hover #u770-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu767.focus-st #u770-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu767.non-empty-st #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu767:hover #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu767.focus-st #u770-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu762
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u766-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu762.non-empty-st #u766-4
{
	background-color: #FFFFFF;
}

#widgetu762:hover #u766-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu762.focus-st #u766-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu762.non-empty-st #u766-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu762:hover #u766-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu762.focus-st #u766-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u747-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu745.frm-sub-st #u747-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u746-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu745.frm-subm-err-st #u746-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u778-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 1;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu745.frm-sub-st #u747-4,#widgetu745.frm-subm-err-st #u746-4,#widgetu745.frm-subm-ok-st #u778-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu745.frm-subm-ok-st #u778-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u772-17
{
	background: url("../images/u772-17.png") no-repeat 0px 0px;
	position: relative;
}

#u772-17:hover
{
	background: url("../images/u772-17-r.png") no-repeat 0px 0px;
}

#u772-17:active
{
	background: url("../images/u772-17-m.png") no-repeat 0px 0px;
}

#widgetu745.frm-sub-st #u772-17
{
	background: url("../images/u772-17-fs.png") no-repeat 0px 0px;
}

#widgetu773
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu767.fld-err-st,#widgetu762.fld-err-st,#widgetu773.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u775-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#widgetu773.non-empty-st #u775-4
{
	background-color: #FFFFFF;
}

#widgetu773:hover #u775-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu773.focus-st #u775-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu767.fld-err-st #u770-4,#widgetu762.fld-err-st #u766-4,#widgetu773.fld-err-st #u775-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu773.non-empty-st #u775-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu773:hover #u775-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu773.focus-st #u775-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu767.fld-err-st #u770-4 *,#widgetu762.fld-err-st #u766-4 *,#widgetu773.fld-err-st #u775-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu767_input,#widgetu767_prompt,#widgetu762_input,#widgetu762_prompt,#widgetu773_input,#widgetu773_prompt
{
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#widgetu767.focus-st #widgetu767_prompt,#widgetu767.non-empty-st #widgetu767_prompt,#widgetu762.non-empty-st #widgetu762_prompt,#widgetu773.non-empty-st #widgetu773_prompt
{
	visibility: hidden;
}

#u821-4
{
	font-size: 18px;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u309
{
	background-color: transparent;
	position: relative;
}

#u312-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u309:hover #u312-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u309:active #u312-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u317-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u314:hover #u317-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u314:active #u317-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u297-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u295:hover #u297-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u295:active #u297-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u69,#u69_align_to_page,#u869,#menuu93,#u132,#u139,#u118,#u94,#u669,#u788-7,#widgetu745,#u841,#u801,#u806,#u811,#u816,#u334-7,#menuu267,#u306,#u313,#u314,#u292,#u295,#u268,#u269
{
	position: relative;
}

#u271-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u135.MuseMenuActive #u138-4,#u140.MuseMenuActive #u143-4,#u121.MuseMenuActive #u123-4,#u95.MuseMenuActive #u97-4,#widgetu767.fld-err-st #u768-4,#u309.MuseMenuActive #u312-4,#u314.MuseMenuActive #u317-4,#u295.MuseMenuActive #u297-4,#u269.MuseMenuActive #u271-4
{
	border-style: none;
	border-color: transparent;
}

#u269:hover #u271-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u269:active #u271-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u309.MuseMenuActive #u312-4 p,#u314.MuseMenuActive #u317-4 p,#u295.MuseMenuActive #u297-4 p,#u269.MuseMenuActive #u271-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

