.html
{
	background: #A5D0EB url("../images/fest_medju.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	width: 960px;
	background-image: url("../images/page-sprite3.png");
	overflow: hidden;
	height: 32px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("../images/page-sprite3.png");
	overflow: visible;
	background-position: -960px top;
	width: 960px;
	min-height: 460px;
}

._page.f3s_bot
{
	width: 960px;
	background-image: url("../images/page-sprite3.png");
	overflow: visible;
	height: 8px;
	background-position: -1920px top;
}

#page_position_content
{
	margin-top: -106px;
	margin-bottom: 12px;
}

#u2596
{
	z-index: 67;
	width: 123px;
	margin-left: 47px;
}

#menuu2511
{
	z-index: 2;
	width: 918px;
	margin-left: 20px;
	margin-top: 16px;
}

#u2547
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2548
{
	width: 182px;
	padding-bottom: 25px;
}

#u2551-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548:hover #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2548:active #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2526
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 184px;
}

#u2527
{
	width: 182px;
	padding-bottom: 25px;
}

#u2529-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548.MuseMenuActive #u2551-4,#u2527:hover #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2528
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2527:hover #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2531
{
	width: 172px;
	top: 42px;
}

#u2536
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2527.MuseMenuActive #u2528,#u2536:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532,#u2533,#u2540
{
	width: 172px;
}

#u2543
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2536.MuseMenuActive,#u2543:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2537-4,#u2545-4
{
	width: 164px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2568
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 368px;
}

#u2569
{
	width: 182px;
	padding-bottom: 25px;
}

#u2570-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2527.MuseMenuActive #u2529-4,#u2569:hover #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2572
{
	z-index: 36;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2543.MuseMenuActive,#u2569:hover #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 176px;
	top: 42px;
}

#u2578
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2569.MuseMenuActive #u2572,#u2578:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578:hover #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578:active #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574,#u2575,#u2582
{
	width: 176px;
}

#u2583
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2578.MuseMenuActive,#u2583:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2585-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578.MuseMenuActive #u2579-4,#u2583:hover #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583:active #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2554
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 552px;
}

#u2555
{
	width: 182px;
	padding-bottom: 25px;
}

#u2557-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2569.MuseMenuActive #u2570-4,#u2555:hover #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555:active #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2561
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 736px;
}

#u2564
{
	width: 182px;
	padding-bottom: 25px;
}

#u2548.MuseMenuActive,#u2527.MuseMenuActive,#u2569.MuseMenuActive,#u2555.MuseMenuActive,#u2564.MuseMenuActive
{
	margin: 0px;
}

#u2566-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2555.MuseMenuActive #u2557-4,#u2564:hover #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564:active #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564.MuseMenuActive #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u520-9
{
	z-index: 69;
	width: 584px;
	min-height: 27px;
	text-align: center;
	margin-left: 188px;
	margin-top: 32px;
	position: relative;
}

#u520-2
{
	font-size: 30px;
	color: #603813;
	font-family: almendra-sc, serif;
	font-weight: 400;
}

#u520-5
{
	font-size: 18px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u520-3,#u520-6,#u520-7
{
	font-size: 12px;
	color: #FFFFFF;
}

#slideshowu522
{
	z-index: 78;
	width: 0.01px;
	height: 671px;
	margin-left: 108px;
	margin-top: 19px;
	position: relative;
}

#u564
{
	position: absolute;
	width: 584px;
	height: 364px;
	background-color: transparent;
	left: 80px;
}

#u564popup
{
	z-index: 79;
}

#u794
{
	z-index: 80;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u803
{
	z-index: 82;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u812
{
	z-index: 84;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u821
{
	z-index: 86;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u830
{
	z-index: 88;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u839
{
	z-index: 90;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u848
{
	z-index: 92;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2737
{
	z-index: 94;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2737_img
{
	padding-left: 155px;
	padding-right: 156px;
}

#u866
{
	z-index: 96;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u875
{
	z-index: 98;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u884
{
	z-index: 100;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u893
{
	z-index: 102;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u902
{
	z-index: 104;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u911
{
	z-index: 106;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u920
{
	z-index: 108;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u929
{
	z-index: 110;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u938
{
	z-index: 112;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u947
{
	z-index: 114;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u956
{
	z-index: 116;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u965
{
	z-index: 118;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u974
{
	z-index: 120;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u983
{
	z-index: 122;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u992
{
	z-index: 124;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1001
{
	z-index: 126;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1010
{
	z-index: 128;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1019
{
	z-index: 130;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u803_img,#u812_img,#u821_img,#u830_img,#u839_img,#u848_img,#u866_img,#u875_img,#u884_img,#u893_img,#u911_img,#u920_img,#u929_img,#u947_img,#u956_img,#u992_img,#u1019_img
{
	padding: 2px 157px;
}

#u1028
{
	z-index: 132;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1037
{
	z-index: 134;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1046
{
	z-index: 136;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1055
{
	z-index: 138;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1064
{
	z-index: 140;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1073
{
	z-index: 142;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1082
{
	z-index: 144;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1091
{
	z-index: 146;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1100
{
	z-index: 148;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1109
{
	z-index: 150;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1118
{
	z-index: 152;
	width: 584px;
	height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u794_clip,#u902_clip,#u938_clip,#u965_clip,#u974_clip,#u983_clip,#u1001_clip,#u1010_clip,#u1028_clip,#u1037_clip,#u1046_clip,#u1055_clip,#u1064_clip,#u1073_clip,#u1082_clip,#u1091_clip,#u1100_clip,#u1109_clip,#u1118_clip
{
	overflow: hidden;
	width: 584px;
	height: 364px;
}

#u794_img,#u902_img,#u938_img,#u965_img,#u974_img,#u983_img,#u1001_img,#u1010_img,#u1028_img,#u1037_img,#u1046_img,#u1055_img,#u1064_img,#u1073_img,#u1082_img,#u1091_img,#u1100_img,#u1109_img,#u1118_img
{
	margin-top: -37px;
	margin-bottom: -37px;
}

#u524
{
	position: absolute;
	width: 760px;
	top: 461px;
}

#u524popup
{
	z-index: 154;
}

#u797
{
	z-index: 155;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u797:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u806
{
	z-index: 157;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u806:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u815
{
	z-index: 159;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u815:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u824
{
	z-index: 161;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u824:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u833
{
	z-index: 163;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u833:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u842
{
	z-index: 165;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u842:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u851
{
	z-index: 167;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u851:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u2740
{
	z-index: 169;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u2740:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u869
{
	z-index: 171;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u869:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u878
{
	z-index: 173;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u878:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u887
{
	z-index: 175;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u887:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u797.SSSlideLinkSelected,#u806.SSSlideLinkSelected,#u815.SSSlideLinkSelected,#u824.SSSlideLinkSelected,#u833.SSSlideLinkSelected,#u842.SSSlideLinkSelected,#u851.SSSlideLinkSelected,#u2740.SSSlideLinkSelected,#u869.SSSlideLinkSelected,#u878.SSSlideLinkSelected,#u887.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u896
{
	z-index: 177;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u896:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u905
{
	z-index: 179;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u905:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u914
{
	z-index: 181;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u914:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u923
{
	z-index: 183;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u923:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u932
{
	z-index: 185;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u932:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u941
{
	z-index: 187;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u941:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u950
{
	z-index: 189;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u950:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u959
{
	z-index: 191;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 490px;
}

#u959:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u968
{
	z-index: 193;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 560px;
}

#u968:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u977
{
	z-index: 195;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 630px;
}

#u977:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u986
{
	z-index: 197;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 700px;
}

#u986:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u896.SSSlideLinkSelected,#u905.SSSlideLinkSelected,#u914.SSSlideLinkSelected,#u923.SSSlideLinkSelected,#u932.SSSlideLinkSelected,#u941.SSSlideLinkSelected,#u950.SSSlideLinkSelected,#u959.SSSlideLinkSelected,#u968.SSSlideLinkSelected,#u977.SSSlideLinkSelected,#u986.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u995
{
	z-index: 199;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u995:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1004
{
	z-index: 201;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u1004:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1013
{
	z-index: 203;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 140px;
}

#u1013:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1022
{
	z-index: 205;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 210px;
}

#u1022:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u806_clip,#u815_clip,#u824_clip,#u833_clip,#u842_clip,#u851_clip,#u2740_clip,#u869_clip,#u878_clip,#u887_clip,#u896_clip,#u914_clip,#u923_clip,#u932_clip,#u950_clip,#u959_clip,#u995_clip,#u1022_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u806_img,#u815_img,#u824_img,#u833_img,#u842_img,#u851_img,#u2740_img,#u869_img,#u878_img,#u887_img,#u896_img,#u914_img,#u923_img,#u932_img,#u950_img,#u959_img,#u995_img,#u1022_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u1031
{
	z-index: 207;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 280px;
}

#u1031:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1040
{
	z-index: 209;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 350px;
}

#u1040:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1049
{
	z-index: 211;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 420px;
}

#u1049:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1058
{
	z-index: 213;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 490px;
}

#u1058:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1067
{
	z-index: 215;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 560px;
}

#u1067:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1076
{
	z-index: 217;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 630px;
}

#u1076:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u1085
{
	z-index: 219;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 700px;
}

#u1085:hover
{
	border-color: #000000;
	margin: 110px -10000px 0px 0px;
}

#u995.SSSlideLinkSelected,#u1004.SSSlideLinkSelected,#u1013.SSSlideLinkSelected,#u1022.SSSlideLinkSelected,#u1031.SSSlideLinkSelected,#u1040.SSSlideLinkSelected,#u1049.SSSlideLinkSelected,#u1058.SSSlideLinkSelected,#u1067.SSSlideLinkSelected,#u1076.SSSlideLinkSelected,#u1085.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 110px -10000px 0px 0px;
}

#u1094
{
	z-index: 221;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u1094:hover
{
	border-color: #000000;
	margin: 165px -10000px 0px 0px;
}

#u1103
{
	z-index: 223;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 70px;
}

#u1103:hover
{
	border-color: #000000;
	margin: 165px -10000px 0px 0px;
}

#u1112
{
	z-index: 225;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 140px;
}

#u1112:hover
{
	border-color: #000000;
	margin: 165px -10000px 0px 0px;
}

#u1121
{
	z-index: 227;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 210px;
}

#u1121:hover
{
	border-color: #000000;
	margin: 165px -10000px 0px 0px;
}

#u1094.SSSlideLinkSelected,#u1103.SSSlideLinkSelected,#u1112.SSSlideLinkSelected,#u1121.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 165px -10000px 0px 0px;
}

#u561-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 379px;
	left: 238px;
}

#u561-4popup
{
	z-index: 229;
}

#u563-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 375px;
	left: 476px;
}

#u563-4popup
{
	z-index: 233;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2589-4
{
	z-index: 63;
	width: 564px;
	min-height: 1px;
	margin-left: 208px;
	margin-top: 117px;
}

body
{
	padding-top: 87px;
	padding-bottom: 144px;
}

