.html
{
	background: #A5D0EB url("../images/fest_medju.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	width: 960px;
	background-image: url("../images/page-sprite2.png");
	overflow: hidden;
	height: 32px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	background-position: -960px top;
	width: 960px;
	min-height: 461px;
}

._page.f3s_bot
{
	width: 960px;
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	height: 7px;
	background-position: -1920px top;
}

#page_position_content
{
	margin-top: -106px;
	margin-bottom: 13px;
}

#u2596
{
	z-index: 67;
	width: 123px;
	margin-left: 47px;
}

#menuu2511
{
	z-index: 2;
	width: 918px;
	margin-left: 20px;
	margin-top: 16px;
}

#u2547
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2548
{
	width: 182px;
	padding-bottom: 25px;
}

#u2551-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548:hover #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2548:active #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2526
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 184px;
}

#u2527
{
	width: 182px;
	padding-bottom: 25px;
}

#u2529-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548.MuseMenuActive #u2551-4,#u2527:hover #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2528
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2527:hover #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2531
{
	width: 172px;
	top: 42px;
}

#u2536
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2527.MuseMenuActive #u2528,#u2536:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532,#u2533,#u2540
{
	width: 172px;
}

#u2543
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2536.MuseMenuActive,#u2543:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2537-4,#u2545-4
{
	width: 164px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2568
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 368px;
}

#u2569
{
	width: 182px;
	padding-bottom: 25px;
}

#u2570-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2527.MuseMenuActive #u2529-4,#u2569:hover #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2572
{
	z-index: 36;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2543.MuseMenuActive,#u2569:hover #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 176px;
	top: 42px;
}

#u2578
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2569.MuseMenuActive #u2572,#u2578:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578:hover #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578:active #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574,#u2575,#u2582
{
	width: 176px;
}

#u2583
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2578.MuseMenuActive,#u2583:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2585-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578.MuseMenuActive #u2579-4,#u2583:hover #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583:active #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2554
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 552px;
}

#u2555
{
	width: 182px;
	padding-bottom: 25px;
}

#u2557-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2569.MuseMenuActive #u2570-4,#u2555:hover #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555:active #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2561
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 736px;
}

#u2564
{
	width: 182px;
	padding-bottom: 25px;
}

#u2548.MuseMenuActive,#u2527.MuseMenuActive,#u2569.MuseMenuActive,#u2555.MuseMenuActive,#u2564.MuseMenuActive
{
	margin: 0px;
}

#u2566-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2555.MuseMenuActive #u2557-4,#u2564:hover #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564:active #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564.MuseMenuActive #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1420-9
{
	z-index: 69;
	width: 584px;
	min-height: 27px;
	text-align: center;
	margin-left: 188px;
	margin-top: 32px;
	position: relative;
}

#u1420-2
{
	font-size: 30px;
	line-height: 1.26;
	color: #603813;
	font-family: almendra-sc, serif;
	font-weight: 400;
}

#u1420-5
{
	font-size: 18px;
	line-height: 1.26;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u1420-3,#u1420-6
{
	font-size: 12px;
	line-height: 1.26;
	color: #FFFFFF;
}

#u1420-7
{
	font-size: 12px;
	color: #FFFFFF;
}

#accordionu1571
{
	z-index: 78;
	width: 754px;
	margin-left: 121px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1576
{
	z-index: 79;
	width: 754px;
	position: relative;
}

#u1579-4
{
	z-index: 80;
	width: 744px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #754C24;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 1;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1579-4:hover
{
	background-color: #8C6239;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1577
{
	z-index: 84;
	width: 752px;
	position: relative;
}

#tab-panelu1610
{
	z-index: 85;
	width: 752px;
	position: relative;
	margin-right: -10000px;
}

#u1629
{
	z-index: 86;
	width: 752px;
	position: relative;
}

#u1646
{
	z-index: 87;
	width: 150px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u1646:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1646:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1649-4
{
	z-index: 88;
	width: 150px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1646:hover #u1649-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1646:active #u1649-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1630
{
	z-index: 92;
	width: 150px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	border-width: 1px 0px 1px 1px;
}

#u1630:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1630:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1631-4
{
	z-index: 93;
	width: 150px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1630:hover #u1631-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1630:active #u1631-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1638
{
	z-index: 97;
	width: 149px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u1638:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1638:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1640-4
{
	z-index: 98;
	width: 149px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1638:hover #u1640-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1638:active #u1640-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1642
{
	z-index: 102;
	width: 149px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 450px;
}

#u1642:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1642:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 149px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1646.TabbedPanelsTabSelected,#u1630.TabbedPanelsTabSelected,#u1638.TabbedPanelsTabSelected,#u1642.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 151px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 103;
	width: 149px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1642:hover #u1645-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1642:active #u1645-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1634
{
	z-index: 107;
	width: 150px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u1634:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 150px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1634:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	width: 150px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1634.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 152px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1635-4
{
	z-index: 108;
	width: 152px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: -1px;
}

#u1634:hover #u1635-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1634:active #u1635-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1646.TabbedPanelsTabSelected #u1649-4,#u1630.TabbedPanelsTabSelected #u1631-4,#u1638.TabbedPanelsTabSelected #u1640-4,#u1642.TabbedPanelsTabSelected #u1645-4,#u1634.TabbedPanelsTabSelected #u1635-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1646.TabbedPanelsTabSelected #u1649-4 p,#u1630.TabbedPanelsTabSelected #u1631-4 p,#u1638.TabbedPanelsTabSelected #u1640-4 p,#u1642.TabbedPanelsTabSelected #u1645-4 p,#u1634.TabbedPanelsTabSelected #u1635-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: antic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1650
{
	z-index: 112;
	width: 752px;
	position: relative;
}

#u1658
{
	z-index: 113;
	width: 752px;
	padding-bottom: 183px;
	margin-right: -10000px;
	position: relative;
}

#u1679-4
{
	z-index: 114;
	width: 272px;
	min-height: 355px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 66px;
}

#u1680-4
{
	z-index: 118;
	width: 272px;
	min-height: 355px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 378px;
}

#u1651
{
	z-index: 122;
	width: 752px;
	padding-bottom: 183px;
	margin-right: -10000px;
	position: relative;
}

#u1652-4
{
	z-index: 123;
	width: 272px;
	min-height: 355px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 66px;
}

#u1653-4
{
	z-index: 127;
	width: 272px;
	min-height: 355px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 378px;
}

#u1662
{
	z-index: 131;
	width: 752px;
	padding-bottom: 117px;
	margin-right: -10000px;
	position: relative;
}

#u1667-6
{
	z-index: 132;
	width: 272px;
	min-height: 421px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 84px;
}

#u1663-5
{
	z-index: 138;
	width: 272px;
	min-height: 285px;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 396px;
}

#u1664
{
	float: left;
	margin-top: 1px;
	margin-bottom: 13px;
	margin-right: 15px;
}

#u1665
{
	z-index: 143;
	width: 252px;
}

#u1665_img
{
	padding-bottom: 1px;
}

#u1654
{
	z-index: 146;
	width: 752px;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
}

#u1655-5
{
	z-index: 147;
	width: 272px;
	min-height: 531px;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 66px;
}

#u1655-3
{
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2710-9
{
	z-index: 152;
	width: 272px;
	min-height: 531px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 379px;
}

#u2711
{
	z-index: 158;
	width: 272px;
}

#u1668
{
	z-index: 164;
	width: 752px;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
}

#u1673-8
{
	z-index: 165;
	width: 272px;
	min-height: 531px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 84px;
}

#u1669-9
{
	z-index: 173;
	width: 272px;
	min-height: 263px;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 396px;
}

#u1669-7
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2710,#u1669-4
{
	font-size: 1px;
	line-height: 0px;
}

#u1669-5
{
	font-size: 15px;
	color: #603813;
	font-family: antic, sans-serif;
}

#u1671
{
	z-index: 182;
	width: 272px;
}

#u2711_img,#u1671_img
{
	vertical-align: bottom;
}

#u1655-2,#u1669-2,#u1669-3,#u1669-6
{
	font-size: 15px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u1591
{
	z-index: 185;
	width: 754px;
	position: relative;
}

#u1594-4
{
	z-index: 186;
	width: 744px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #754C24;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 1;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1594-4:hover
{
	background-color: #8C6239;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1579-4.AccordionPanelTabOpen,#u1594-4.AccordionPanelTabOpen
{
	background-color: #C69C6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1579-4.AccordionPanelTabOpen p,#u1594-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: antic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1592
{
	z-index: 190;
	width: 584px;
	margin-left: 66px;
	margin-top: 12px;
	margin-bottom: 12px;
	position: relative;
}

#u1593-4
{
	z-index: 191;
	width: 272px;
	min-height: 105px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1678-6
{
	z-index: 195;
	width: 272px;
	min-height: 105px;
	color: #603813;
	font-size: 15px;
	line-height: 1.4;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

.TabbedPanelsTab,.AccordionPanelTab /* tabset */
{
	cursor: pointer;
}

#u2589-4
{
	z-index: 63;
	width: 564px;
	min-height: 1px;
	margin-left: 208px;
	margin-top: 110px;
}

body
{
	padding-top: 87px;
	padding-bottom: 145px;
}

