.html
{
	background: #A5D0EB url("../images/fest_medju.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

._page.f3s_top
{
	width: 960px;
	background-image: url("../images/page-sprite2.png");
	overflow: hidden;
	height: 32px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	background-position: -960px top;
	width: 960px;
	min-height: 461px;
}

._page.f3s_bot
{
	width: 960px;
	background-image: url("../images/page-sprite2.png");
	overflow: visible;
	height: 7px;
	background-position: -1920px top;
}

#page_position_content
{
	margin-top: -106px;
	margin-bottom: 13px;
}

#u2596
{
	z-index: 67;
	width: 123px;
	margin-left: 47px;
}

#menuu2511
{
	z-index: 2;
	width: 918px;
	margin-left: 20px;
	margin-top: 16px;
}

#u2547
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2548
{
	width: 182px;
	padding-bottom: 25px;
}

#u2551-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548:hover #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2548:active #u2551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2526
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 184px;
}

#u2527
{
	width: 182px;
	padding-bottom: 25px;
}

#u2529-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2548.MuseMenuActive #u2551-4,#u2527:hover #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2528
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2527:hover #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2527:active #u2528
{
	margin: 0px -10000px 0px 0px;
}

#u2531
{
	width: 172px;
	top: 42px;
}

#u2536
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2527.MuseMenuActive #u2528,#u2536:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2532,#u2533,#u2540
{
	width: 172px;
}

#u2543
{
	width: 172px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2536.MuseMenuActive,#u2543:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2537-4,#u2545-4
{
	width: 164px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2568
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 368px;
}

#u2569
{
	width: 182px;
	padding-bottom: 25px;
}

#u2570-4
{
	width: 168px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2527.MuseMenuActive #u2529-4,#u2569:hover #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2570-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2572
{
	z-index: 36;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 14px;
	left: 168px;
}

#u2543.MuseMenuActive,#u2569:hover #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572
{
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 176px;
	top: 42px;
}

#u2578
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2569.MuseMenuActive #u2572,#u2578:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2579-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578:hover #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578:active #u2579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574,#u2575,#u2582
{
	width: 176px;
}

#u2583
{
	width: 176px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2578.MuseMenuActive,#u2583:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u2585-4
{
	width: 168px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2578.MuseMenuActive #u2579-4,#u2583:hover #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583:active #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2583.MuseMenuActive #u2585-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2554
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 552px;
}

#u2555
{
	width: 182px;
	padding-bottom: 25px;
}

#u2557-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2569.MuseMenuActive #u2570-4,#u2555:hover #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2555:active #u2557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2561
{
	width: 182px;
	min-height: 42px;
	margin-right: -10000px;
	left: 736px;
}

#u2564
{
	width: 182px;
	padding-bottom: 25px;
}

#u2548.MuseMenuActive,#u2527.MuseMenuActive,#u2569.MuseMenuActive,#u2555.MuseMenuActive,#u2564.MuseMenuActive
{
	margin: 0px;
}

#u2566-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u2555.MuseMenuActive #u2557-4,#u2564:hover #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564:active #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2564.MuseMenuActive #u2566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2715-9
{
	z-index: 69;
	width: 584px;
	min-height: 27px;
	text-align: center;
	margin-left: 188px;
	margin-top: 32px;
	position: relative;
}

#u2715-2
{
	font-size: 30px;
	line-height: 1.26;
	color: #603813;
	font-family: almendra-sc, serif;
	font-weight: 400;
}

#u2715-5
{
	font-size: 18px;
	line-height: 1.26;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u2715-3,#u2715-6
{
	font-size: 12px;
	line-height: 1.26;
	color: #FFFFFF;
}

#u2715-7
{
	font-size: 12px;
	color: #FFFFFF;
}

#u2716-41
{
	z-index: 78;
	width: 564px;
	min-height: 197px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.49);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-left: 188px;
	margin-top: 44px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.49);
}

#u2716-7,#u2716-12,#u2716-17,#u2716-22,#u2716-27,#u2716-32,#u2716-37
{
	font-size: 15px;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u2716-3,#u2716-6,#u2716-8,#u2716-11,#u2716-13,#u2716-16,#u2716-18,#u2716-21,#u2716-23,#u2716-26,#u2716-28,#u2716-31,#u2716-33,#u2716-36
{
	color: #603813;
}

#u2716,#u2716-2,#u2716-38
{
	font-size: 15px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
}

#u2589-4
{
	z-index: 63;
	width: 564px;
	min-height: 1px;
	margin-left: 208px;
	margin-top: 75px;
}

body
{
	padding-top: 87px;
	padding-bottom: 145px;
}

