#u2548
{
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

#u2551-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #754C24;
	letter-spacing: 5px;
	font-family: antic, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#u2527
{
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

#u2529-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #754C24;
	letter-spacing: 5px;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2528
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2527:hover #u2528
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2527:active #u2528
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2536
{
	border-color: #777777;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u2536:hover
{
	background-color: #C7B299;
}

#u2543
{
	border-color: #777777;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u2543:hover
{
	background-color: #C7B299;
}

#u2537-4,#u2545-4
{
	text-align: center;
	font-size: 12px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2569
{
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

#u2570-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #754C24;
	letter-spacing: 5px;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2572
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2527.MuseMenuActive #u2528,#u2569:hover #u2572
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2569:active #u2572
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2569.MuseMenuActive #u2572
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u2578
{
	border-color: #777777;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u2578:hover
{
	background-color: #C7B299;
}

#u2579-4
{
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2583
{
	border-color: #777777;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u2583:hover
{
	background-color: #C7B299;
}

#u2536.MuseMenuActive,#u2543.MuseMenuActive,#u2578.MuseMenuActive,#u2583.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u2585-4
{
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2578.MuseMenuActive #u2579-4 p,#u2583.MuseMenuActive #u2585-4 p
{
	font-size: 11px;
}

#u2555
{
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

#u2557-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #754C24;
	letter-spacing: 5px;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2596,#menuu2511,#u2547,#u2526,#u2532,#u2533,#u2540,#u2568,#u2574,#u2575,#u2582,#u2554,#u2561
{
	position: relative;
}

#u2564
{
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
}

#u2548.MuseMenuActive,#u2527.MuseMenuActive,#u2569.MuseMenuActive,#u2555.MuseMenuActive,#u2564.MuseMenuActive
{
	background: transparent url("../images/flagge-italien-u136-a-fr.png") no-repeat left top;
	background-size: cover !important;
}

#u2566-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #754C24;
	letter-spacing: 5px;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2548.MuseMenuActive #u2551-4,#u2527.MuseMenuActive #u2529-4,#u2569.MuseMenuActive #u2570-4,#u2555.MuseMenuActive #u2557-4,#u2564.MuseMenuActive #u2566-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2589-4
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #603813;
	font-family: antic, sans-serif;
	font-weight: 400;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

